 .employee-list{
    height:100%;
    display:flex;
    flex-direction:column;
    gap:24px;
    padding:36px;
    background:var(--light-gray-color);
 }
 .title{
    font-size:24px;
    font-weight:600;
    color:var(--primary-color);
 }
 .employee-list-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;
   
  }
  
  .view-buttons,
  .action-buttons{
    display:flex;
    gap:10px;
    align-items:center;
}

.action-buttons{
  gap:0;
}


.view-btn,
.action-btn{
    background: none;
    border: none;
    cursor: pointer;
    width:36px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    overflow:hidden;
  }
  .view,
  .action{
    height:100%;
    width:100%;
    object-fit:cover;
  }

  .table{
    width:100%;
    background:var(--white-color);
    border-radius:8px;
    overflow:hidden;
    padding:12px;
  }

  table thead tr th{
    color:var(--primary-color);
    font-weight:600;
    padding:12px 8px;
  }
  table tbody tr td{
    color:var(--gray-color);
    font-weight:400;
  }
.firstName,
.lastName {
    color: var(--black-color);
  }

  .checkbox{
    width:16px;
    height:16px;
    cursor:pointer;
    border-radius:4px;  }
