.employee-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.employee-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.view-buttons,
.action-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action-buttons {
  gap: 0;
}

.view-btn,
.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}
.view,
.action {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.edit-icon,
.delete-icon {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.table-container {
  overflow-x: auto;
}
.table {
  width: 100%;
  background: var(--white-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 12px;
  border-collapse: collapse;
  height: 540px;
}

tr {
  border-bottom: 1pt solid var(--border-color);
}
table thead tr th {
  color: var(--primary-color);
  font-weight: 600;
  padding: 12px 8px;
}
table tbody tr td {
  color: var(--gray-color);
  font-weight: 400;
  text-align: center;
  padding: 8px 0;
}
.firstName,
.lastName {
  color: var(--black-color);
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.grid-view {
  display: grid;
  gap: 24px;
}

.employee-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 100%; */
  background: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 24px 16px;
  gap: 24px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

.employee-card-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.employee-card-item-label {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-gray-color);
}

.employee-card-item-value {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
}

.employee-card-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.employee-card-edit-btn,
.employee-card-delete-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.employee-card-edit-btn {
  background: var(--secondary-color);
}
.employee-card-delete-btn {
  background: var(--primary-color);
}

.employee-card-edit-btn-icon,
.employee-card-delete-btn-icon {
  height: 12px;
  width: 12px;
}

.pagination-controls {
  margin: 24px 0;
}
.pagination-controls,
.pagination-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pagination-btn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.pagination-active {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
  font-weight: 600;
  font-size: 16px;
}

.arrow {
  height: 24px;
  width: 24px;
  object-fit: cover;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  background: var(--white-color);
  border-radius: 8px;
  max-width: calc(100% - 32px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}

.modal-body {
  color: var(--gray-color);
}

.modal-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-btn {
  width: 100%;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 16px;
}

.confirm-delete {
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.cancel-delete {
  background: none;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
@media (max-width: 1024px) {
  .employee-card-item-value {
    word-break: break-all;
  }
}

@media (max-width: 768px) {
  .employee-card {
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 624px) {
  .employee-card-actions {
    flex-direction: column;
    gap: 8px;
  }

  .employee-card-edit-btn,
  .employee-card-delete-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .grid-view {
    grid-template-columns: repeat(1, 1fr)!important;
  }
  .pagination-controls{
    gap: 4px;
  }
  .pagination-numbers {
    padding: 8px;
  }
}