 .employee-list{
    height:100%;
    display:flex;
    flex-direction:column;
    gap:24px;
    padding:36px;
    background:var(--light-gray-color);
 }
 .title{
    font-size:24px;
    font-weight:600;
    color:var(--primary-color);
 }
 .employee-list-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;
   
  }
  
  .view-buttons,
  .action-buttons{
    display:flex;
    gap:10px;
    align-items:center;
}

.action-buttons{
  gap:0;
}


.view-btn,
.action-btn{
    background: none;
    border: none;
    cursor: pointer;
    width:36px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    overflow:hidden;
  }
  .view,
  .action{
    height:100%;
    width:100%;
    object-fit:cover;
  }
.edit-icon,
.delete-icon{
  height:20px;
  width:20px;
  object-fit:cover;
}
  .table{
    width:100%;
    background:var(--white-color);
    border-radius:8px;
    overflow:hidden;
    padding:12px;
  }

  table thead tr th{
    color:var(--primary-color);
    font-weight:600;
    padding:12px 8px;
  }
  table tbody tr td{
    color:var(--gray-color);
    font-weight:400;
  }
.firstName,
.lastName {
    color: var(--black-color);
  }

  .checkbox{
    width:16px;
    height:16px;
    cursor:pointer;
    border-radius:4px;  }


    .grid-view{
      display:grid;
      gap:60px;
      padding:24px;

    }

    .employee-card{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      width:100%;
      background:var(--white-color);
      border-radius:8px;
      border:1px solid var(--border-color);
      padding:24px 16px;
      gap:24px;
      box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    }

    .employee-card-item{
      display:flex;
      flex-direction:column;
      gap:4px;
    }

    .employee-card-item-label{
      font-size:14px;
      font-weight:600;
      color:var(--dark-gray-color);
    }

    .employee-card-item-value{
      font-size:16px;
      font-weight:400;
      color:var(--black-color);
    }

    .employee-card-actions{
      display:flex;
      gap:10px;
      align-items:center;
    }

    .employee-card-edit-btn,
    .employee-card-delete-btn{
      cursor:pointer;
      display:flex;
      align-items:center;
      justify-content:center;
      gap:8px;
      border-radius:4px;
      padding:8px 16px;
      color:var(--white-color);
      font-size:14px;
      font-weight:600;
      border:none;
    }      

    .employee-card-edit-btn{
      background:var(--secondary-color);

    }
    .employee-card-delete-btn{
      background:var(--primary-color);

    }

    .employee-card-edit-btn-icon{
      height:12px;
      width:12px;
    }

    .employee-card-delete-btn-icon{
      height:12px;
      width:12px;
    }